body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
    }

.dark-mode {
    background-color: black;
    color: white;
}

#div1, #div2 {
      float: left;
      min-width: 400px;
      min-height: 150px;
      margin: 10px;
      padding: 10px;
      border: 1px solid black;
}